body{
  background-color: lightblue;
}
.ciudad{
  color: blue;
  font-size: 30px;
  font-family: comic;
  margin-left: 50px;
}
#volver{
  color: brown;
  font-size: 30px;
  margin-left: 150px;
  margin-bottom: 50px;
}
