body{
  background-color: lightgray;
  color: purple;
}
#titulo{
  margin-left: 550px;
  padding: 10px;
  padding-right: 1px;
  padding-left: 20px;
  padding-bottom: 10px;
  border-left: 50px;
  border-style: outset;
  background-color: gray;
  border-width: 8px;
  border-top: 11px solid lightblue;
  border-bottom: 10px double magenta;
  border-radius: 9px;
  height: 110px;
  width: 350px;
  color: white;
}
